<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075955079394-078t4e6bn0poku0s3boj3qld46t6g78e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075955079394-078t4e6bn0poku0s3boj3qld46t6g78e</string>
	<key>API_KEY</key>
	<string>AIzaSyDKD_AeldvQektSH2rEBWsPN1p1erQB2uM</string>
	<key>GCM_SENDER_ID</key>
	<string>1075955079394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mockitoPruebaBasic</string>
	<key>PROJECT_ID</key>
	<string>photo-frame---beautyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-frame---beautyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075955079394:ios:3ded421fce98a152efe6bb</string>
</dict>
</plist>